<div class="product-info-display-block new-big-redesign-ab-test-b">
  {% if block.settings.heading and block.settings.heading != '' %}
    <div class="heading">{{ block.settings.heading }}</div>
  {% endif %}
  {% if block.settings.description and block.settings.description != '' %}
    <div class="description">{{ block.settings.description }}</div>
  {% endif %}
</div>